@import "tailwindcss";

@theme {

  --color-skyAccent: hsl(191, 100%, 50%);

  --color-deepBlue: hsl(204, 67%, 12%);


}
@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
}
